.h2 {
  font-size: 2rem;
  margin-top: 8px;
  text-align: center;
}
.k{
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  z-index: 1;
}
.allp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.singlep {
  padding: 1.5rem 1rem;
  border-radius: 2rem;
  border: 1px solid rgb(185, 185, 185);
}
.allimgs {
  width: 320px;
  height: 200px;
  margin: auto;
}
.pimg {
  width: 320px;
  height: 200px;
  border-radius: 15px;
}
.h3 {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
}
.plinks {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1230px) {
  .allp {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .allp {
    gap: 1rem;
  }
  .allimgs {
    width: 280px;
    height: 180px;
    margin: auto;
  }
  .pimg {
    width: 280px;
    height: 180px;
    border-radius: 15px;
  }
  .singlep {
    padding: 1rem;
  }
}

@media (max-width: 675px) {
  .allp {
    grid-template-columns: 1fr;
  }
  .h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  .h5 {
    font-size: 0.9rem;
  }
  .h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 345px) {
  .singlep {
    padding: 1rem 0.5rem;
  }
}
